@model ShopList
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md">
                <h2 class="heading-1">shop listing</h2>
                <p class="text-1">Tomato is a delicious restaurant website template</p>
            </div>
        </div>
    </div>
</section>

<section class="shop-content">
    <div class="container">
        <div class="row flex-lg">
            <div class="col w-40-lg">
                <div class="single-shop-carousel">
                    @foreach (var item in Model.ProductSingles)
                    {
                        <div class="carousel-content">
                            <img src="~/images/@item.Img" alt="carousel image" class="img-responsive" />
                        </div>
                    }
                    <div class="carousel-content">
                        <img src="~/images/3.jpg" alt="carousel image" class="img-responsive" />
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/2.jpg" alt="carousel image" class="img-responsive" />
                    </div>
                </div>
                <div class="single-shop-carousel-nav">
                    <div class="carousel-content">
                        <img src="~/images/3.jpg" alt="carousel image" class="img-responsive" />
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/1.jpg" alt="carousel image" class="img-responsive" />
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/2.jpg" alt="carousel image" class="img-responsive" />
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/3.jpg" alt="carousel image" class="img-responsive" />
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/1.jpg" alt="carousel image" class="img-responsive" />
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/2.jpg" alt="carousel image" class="img-responsive" />
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/3.jpg" alt="carousel image" class="img-responsive" />
                    </div>
                    <div class="carousel-content">
                        <img src="~/images/2.jpg" alt="carousel image" class="img-responsive" />
                    </div>
                </div>
            </div>
            <div class="col shop-single-info">
                <div class="shop-single-title">
                    <h3 class="text-left">Food Title</h3>
                </div>
                <div class="shop-single-price">
                    <div class="ssp">
                        $100
                        <span>$150</span>
                    </div>
                    <div class="rc-ratings">
                        <span class="fa fa-star active"></span>
                        <span class="fa fa-star active"></span>
                        <span class="fa fa-star active"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
                </p>

                <div class="quantity flex">
                    <input type="number" placeholder="1" min="1" />
                    <div class="btn-container">
                        <a asp-controller="ProductList" asp-action="AddBasket" asp-route-Id="@Model.Id" class="btn btn-primary btn-shop left-space-sm">Add to cart</a>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="food-description">
            <div class="food-titles">
                <ul class="food-list">
                    <li class="active">
                        <a href="#">Food Description</a>
                    </li>
                </ul>
            </div>

            <div class="food-content">
                <div class="food-pane">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                        was popularised in the 1960s with the release of Letraset sheets containing.
                    </p>
                    <p class="list">
                        <span>
                            <i class="fa fa-angle-right"></i>
                            Curabitur a dui ut sem pulvinar accumsan a nec quam.
                        </span>
                        <span>
                            <i class="fa fa-angle-right"></i>
                            Pellentesque euismod turpis eu ante euismod, nec molestie mi ullamcorper.
                        </span>
                        <span>
                            <i class="fa fa-angle-right"></i>
                            Mauris tristique ante a purus dignissim, eu efficitur libero congue.
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="shop-products">
            <h6>More Food Items</h6>

            <div class="row grid-m">
                @foreach (ShopList item in ViewBag.Shops)
                {
                    <div class="col">
                        <div class="product-info">
                            <div class="product-img">
                                <img src="~/uploads/Product/@item.Img" alt="Product image" />
                            </div>

                            <h4>
                                <a asp-controller="ProductList" asp-action="Detail" asp-route-id="@item.Id">@item.FName</a>
                            </h4>

                            <div class="product-price">$@item.Price</div>

                            <div class="shop-meta">
                                <a asp-controller="ProductList" asp-action="AddBasket" asp-route-id="@item.ProductSingleId">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>