
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <h2 class="heading-1">Shop List</h2>
                <p class="text-1">Tomato is a delicious restaurant website template</p>
            </div>
        </div>
    </div>
</section>

<div class="shop-content">
    <div class="container">
        <div class="row">
            <aside class="col-lg-3">
                <div class="side-widget">
                    <h5>Our Food</h5>
                    <ul class="shop-cat">
                        <li>
                            <a href="shop-full.html">
                                Cakes
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="shop-full.html">
                                Almonds
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="shop-full.html">
                                Furniture
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="shop-full.html">
                                Amaranth
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="shop-full.html">
                                Broad Beans
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="shop-full.html">
                                Coriander
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="col-lg-9">
                <div class="shop-grid grid-m-3 pb-3">
                    <select>
                        <option>Default Sorting</option>
                        <option>Cakes</option>
                        <option>Breads</option>
                        <option>Fries</option>
                        <option>Pizza</option>
                    </select>
                    <!-- <div class="flex-xs pt-3"> -->
                    <div class="sg-list">
                        <a href="shop-sidebar.html">
                            <i class="fa fa-th-large"></i>
                        </a>
                        <a href="shop-sidebar.html">
                            <i class="fa fa-reorder"></i>
                        </a>
                    </div>
                    <span>Showing 1-9 of 80 Results</span>
                    <!-- </div> -->
                </div>

                <div class="shop-products">
                    <div class="row">
                        <div class="col">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="~/images/product1.png" alt="Product image" />
                                </div>

                                <h4>
                                    <a href="#">Food Name</a>
                                </h4>
                                <div class="rc-ratings">
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star active"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <div class="product-price">$100</div>

                                <div class="shop-meta">
                                    <a href="">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="~/images/product2.png" alt="Product image" />
                                </div>

                                <h4>
                                    <a href="#">Food Name</a>
                                </h4>
                                <div class="rc-ratings">
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <div class="product-price">$100</div>

                                <div class="shop-meta">
                                    <a href="">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="~/images/product3.png" alt="Product image" />
                                </div>

                                <h4>
                                    <a href="#">Food Name</a>
                                </h4>
                                <div class="rc-ratings">
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <div class="product-price">$100</div>

                                <div class="shop-meta">
                                    <a href="">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="~/images/product4.png" alt="Product image" />
                                </div>

                                <h4>
                                    <a href="#">Food Name</a>
                                </h4>
                                <div class="rc-ratings">
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <div class="product-price">$100</div>

                                <div class="shop-meta">
                                    <a href="">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="~/~/images/5.png" alt="Product image" />
                                </div>

                                <h4>
                                    <a href="#">Food Name</a>
                                </h4>
                                <div class="rc-ratings">
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <div class="product-price">$100</div>

                                <div class="shop-meta">
                                    <a href="">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="~/images/6.png" alt="Product image" />
                                </div>

                                <h4>
                                    <a href="#">Food Name</a>
                                </h4>
                                <div class="rc-ratings">
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <div class="product-price">$100</div>

                                <div class="shop-meta">
                                    <a href="">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="~/images/7.png" alt="Product image" />
                                </div>

                                <h4>
                                    <a href="#">Food Name</a>
                                </h4>
                                <div class="rc-ratings">
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <div class="product-price">$100</div>

                                <div class="shop-meta">
                                    <a href="">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="~/images/8.png" alt="Product image" />
                                </div>

                                <h4>
                                    <a href="#">Food Name</a>
                                </h4>
                                <div class="rc-ratings">
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <div class="product-price">$100</div>

                                <div class="shop-meta">
                                    <a href="">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="~/images/9.png" alt="Product image" />
                                </div>

                                <h4>
                                    <a href="#">Food Name</a>
                                </h4>
                                <div class="rc-ratings">
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <div class="product-price">$100</div>

                                <div class="shop-meta">
                                    <a href="">
                                        <i class="fa fa-shopping-cart"></i> Add to cart
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="home.html" class="btn btn-primary btn-load">Load more</a>
            </div>
        </div>
    </div>
</div>
