@model  AboutVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md">
                <h2 class="heading-1">about</h2>
                <p class="text-1">Read our Story, How we started and about the Team</p>
            </div>
        </div>
    </div>
</section>

<section class="about2" id="about2">
    <div class="container">
        <div class="row grid grid-lg">
            <div class="col">
                <img src="~/images/@Model.AboutStory.StoryImg" alt="About image" class="img-fluid" />
            </div>

            <div class="col-pd">
                <h2 class="heading-2 text-left">Our story</h2>

                <p>
                    @Model.AboutStory.StoryContent
                </p>
                <a href="#" class="btn btn-primary btn-sm">see our menu</a>
            </div>
        </div>
    </div>
</section>

<!-- Services section -->
<section class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header pt-5">
                    <h1 class="heading-2 text-white">Special service</h1>
                    <p class="text-2 text-white">What Special services we are offering now</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="slick-slider services-slider">
                <div class="services-content">
                    <img src="~/images/cake.png" alt="" class="center-block" />
                    <h4 class="">Birthday Party</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

                <div class="services-content">
                    <img src="~/images/wedding.png" alt="" class="center-block" />
                    <h4 class="">Wedding party</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

                <div class="services-content">
                    <img src="~/images/cake.png" alt="" class="center-block" />
                    <h4 class="">Birthday Party</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>

                <div class="services-content">
                    <img src="~/images/wedding.png" alt="" class="center-block" />
                    <h4 class="">Wedding Party</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- team section -->
<section class="team" id="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h1 class="heading-2">our team</h1>
                    <p class="text-2">The Hardworking Team behind the restaurant</p>
                </div>
            </div>
        </div>
        <!-- cards -->
        <div class="row grid grid-md">
            <div class="col text-center">
                <div class="team-stuff">
                    <img src="~/images/1.png" alt="cooker image" class="center-block" />
                    <h4>enter name here</h4>
                    <p>Designation here</p>
                    <ul class="team-social">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="team-stuff">
                    <img src="~/images/2.png" alt="cooker image" class="center-block" />
                    <h4>enter name here</h4>
                    <p>Designation here</p>
                    <ul class="team-social">
                        <li>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="team-stuff">
                    <img src="~/images/3.png" alt="cooker image" class="center-block" />
                    <h4>enter name here</h4>
                    <p>Designation here</p>
                    <ul class="team-social">
                        <li>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="team-stuff">
                    <img src="~/images/4.png" alt="cooker image" class="center-block" />
                    <h4>enter name here</h4>
                    <p>Designation here</p>
                    <ul class="team-social">
                        <li>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- User testimonials -->
<div class="trusted" id="trusted">
    <div class="trusted-quote">
        <div class="container">
            <div class="row">
                <div class="trusted-slider">
                    <div class="trusted-content">
                        <img src="~/images/quote.png" alt="quote image" />
                        <p class="quote-body">
                            The world’s a big, big stage for this notorious deli smack in the middle of the theatre district, infamously famous for its over-the-top corned beef and pastrami sandwiches, chopped liver, blintzes, celebrities, salami, smoked fish and New York’s finest
                            cheesecake.
                        </p>
                        <p class="quote-author">
                            Anthony Reed,
                            <span>New York</span>
                        </p>
                    </div>

                    <div class="trusted-content">
                        <img src="~/images/quote.png" alt="quote image" />
                        <p class="quote-body">
                            The world’s a big, big stage for this notorious deli smack in the middle of the theatre district, infamously famous for its over-the-top corned beef and pastrami sandwiches, chopped liver, blintzes, celebrities, salami, smoked fish and New York’s finest
                            cheesecake.
                        </p>
                        <p class="quote-author">
                            Anthony Reed,
                            <span>New York</span>
                        </p>
                    </div>

                    <div class="trusted-content">
                        <img src="~/images/quote.png" alt="quote image" />
                        <p class="quote-body">
                            The world’s a big, big stage for this notorious deli smack in the middle of the theatre district, infamously famous for its over-the-top corned beef and pastrami sandwiches, chopped liver, blintzes, celebrities, salami, smoked fish and New York’s finest
                            cheesecake.
                        </p>
                        <p class="quote-author">
                            Anthony Reed,
                            <span>New York</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>