@model MenuListVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <h2 class="heading-1">menu</h2>
                <p class="text-1">Tomato is a delicious restaurant website template</p>
            </div>
        </div>
    </div>
</section>

<!-- MENU -->
<section class="menu" id="menu space60">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h1 class="heading-2">List Style</h1>
                    <p class="text-2">These fine folks trusted the award winning restaurant.</p>
                </div>
            </div>
        </div>
        <div class="food-menu">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-tags">
                        @foreach (var item in Model.MenuCatagories)
                        {
                            <span data-filter="*" class="tagsort-active">@item.Name</span>
                        }
                    </div>
                </div>
            </div>
            <div class="row menu-items">
                @foreach (var item in Model.MenuLists)
                {
                    <div class="menu-item col-sm-6 col-xs-12 starter dinner desserts">
                        <div class="menu-wrapper">
                            <h4>@item.Name</h4>
                            <span class="price">$@item.Price</span>
                            <div class="dotted-bg"></div>
                        </div>
                        <p>@item.Desc</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>