@model MenuListVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <h2 class="heading-1">menu</h2>
                <p class="text-1">Tomato is a delicious restaurant website template</p>
            </div>
        </div>
    </div>
</section>

<!-- MENU -->
<section class="menu" id="menu space60">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header">
                    <h1 class="heading-2">List Style</h1>
                    <p class="text-2">These fine folks trusted the award winning restaurant.</p>
                </div>
            </div>
        </div>
        <div class="food-menu">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-tags">
                        <span data-filter="*" class="tagsort-active">All</span>
                        <span data-filter=".starter">starters</span>
                        <span data-filter=".breakfast">breakfast</span>
                        <span data-filter=".lunch">lunch</span>
                        <span data-filter=".dinner">dinner</span>
                        <span data-filter=".desserts">desserts</span>
                    </div>
                </div>
            </div>
            <div class="row menu-items">
                <div class="menu-item col-sm-6 col-xs-12 starter dinner desserts">
                    <div class="menu-wrapper">
                        <h4>english asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 starter">
                    <div class="menu-wrapper">
                        <h4>english asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 breakfast desserts starter">
                    <div class="menu-wrapper">
                        <h4>english asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 breakfast">
                    <div class="menu-wrapper">
                        <h4>english asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 lunch starter breakfast">
                    <div class="menu-wrapper">
                        <h4>english asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 lunch">
                    <div class="menu-wrapper">
                        <h4>english asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 dinner breakfast lunch">
                    <div class="menu-wrapper">
                        <h4>english asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 dinner">
                    <div class="menu-wrapper">
                        <h4>english asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 desserts lunch dinner">
                    <div class="menu-wrapper">
                        <h4>english asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
                <div class="menu-item col-sm-6 col-xs-12 desserts">
                    <div class="menu-wrapper">
                        <h4>english asparagus</h4>
                        <span class="price">$14.95</span>
                        <div class="dotted-bg"></div>
                    </div>
                    <p>pellentesque enim. Aliquam tempor</p>
                </div>
            </div>
        </div>
    </div>
</section>