
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md">
                <h2 class="heading-1">reservation</h2>
                <p class="text-1">Tomato is a delicious restaurant website template</p>
            </div>
        </div>
    </div>
</section>

<section class="reservation" id="reservation">
    <div class="container">
        <div class="row">
            <div class="section-header">
                <h1 class="heading-2">Reservations</h1>
                <p class="text-2">Book a table online. Leads will reach in your email.</p>
            </div>
        </div>
        <div class="reservation-form">
            <form action="#" class="form">
                <div class="row grid-2">
                    <div class="col">
                        <div class="form-group">
                            <label for="datepicker">Date</label>
                            <input type="text" data-toggle="datepicker" class="form-control" placeholder="Pick a date" id="datepicker" title="Please choose a date" required />
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="name">Your Name</label>
                            <input type="text" class="form-control" placeholder="Full Name" id="name" title="Your full name please" required />
                            <i class="fa fa-pencil-square"></i>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="timepicker">Time</label>
                            <input type="text" class="form-control" placeholder="Pick a time" id="timepicker" title="Choose preferred time" name="time" required value="" />
                            <i class="fa fa-clock"></i>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" placeholder="Your Email ID" id="email" title="Please enter your email ID" required />
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="guests">Guests</label>
                            <input type="number" class="form-control input-number–noSpinners" placeholder="How many of you" id="guests" title="Please enter number of guests" required />
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="text" class="form-control" placeholder="Enter your phone number" id="datepicker" title="Please enter your phone number" required />
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>
                </div>
                <div class="col-grid">
                    <div class="reservation-btn">
                        <button type="submit" class="btn btn-primary btn-lg">Make Reservation</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="reservation-footer">
            <p>
                You can also call:
                <strong>+994 70 834 16 76</strong> to make a reservation.
            </p>
            <span></span>
        </div>
    </div>
</section>