@model MemberLoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <h2 class="heading-1">Account</h2>
                <p class="text-1">Please login or signup to continue with your purchase</p>
            </div>
        </div>
    </div>
</section>

<section class="shop-content">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="shop-login grid-4">
                    <div class="col">
                        <div class="box-content">
                            <h3 class="text-center">Existing customer</h3>

                            <form method="post" class="logreform">
                                <div class="form-group">
                                    <label> E-mail Address</label>
                                    <input asp-for="@Model.Email" type="text" value-class="form-control" class="form-control" />
                                    <span class="text-danger" asp-validation-for="@Model.Email"></span>
                                </div>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input asp-for="UserName" type="text" value-class="form-control" class="form-control" />
                                    <span class="text-danger" asp-validation-for="UserName"></span>
                                </div>
                                <div class="form-group">
                                    <div class="flex">
                                        <label>Password</label>
                                        <a asp-action="ForgetPassword">(Lost Password?)</a>
                                    </div>
                                    <input asp-for="@Model.Password" type="password" value-class="form-control" class="form-control" />
                                    <span class="text-danger" asp-validation-for="@Model.Password"></span>
                                </div>
                                <div class="flex m-5">
                                    <div class="col col-end">
                                        <button type="submit" class="btn btn-primary btn-account">Login</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>